/* SPDX-License-Identifier: GPL-2.0-only */

/* Main window */
window {
	background-color: #c2bdbd;
}

window label {
	color: black;
}

scale {
	color:black;
}

/* All check-buttons' label (text) within the box */
checkbutton label {
	color: black;
}

/* All widgets within the Box */
box * {
	font: 13px Fira Code bold;
	font-weight: 400;
}

/* VibranceLUI application's header-bar (title bar) */
headerbar.titlebar {
	border: none;
	box-shadow: none;
	background-image: linear-gradient(to bottom,
	shade(rgb(227, 222, 222), 1.05),
	shade(rgb(229, 224, 224), 1.00));
}